@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-family: "Manrope", sans-serif;

}


.react-international-phone-input-container .react-international-phone-input {
  border: none;
  padding-top: 22px;
  padding-bottom: 22px;
  background: red;
}
.react-international-phone-input-container
  .react-international-phone-country-selector-button {
  padding: 6px;
  padding-top: 22px;
  padding-bottom: 22px;
  background: "#efefef";
  border-radius: 0px;
}
